body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav {
  background-color: #555;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
